{% extends 'base.html' %}

{% block title %}pokersessions/detail{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
{% load tz %}
    <h2>Games</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class='btn' type="submit">Add Game</button>
     </form>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Min Buy-in</th>
            <th>Max Buy-in</th>
            <th>Public</th>
            <th>Currency</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for game in games %}
          <tr>
            <td>
							{{ game.title }}
            </td>
            <td>
              {{ game.min_buy_in }}
            </td>
            <td>
            	{{ game.max_buy_in }}
            </td>
            <td>
              {{ game.public }}
            </td>
            <td>
              {{ game.currency.short_str }}
            </td>
            <td>
              <form action="{% url 'games:delete' game.id %}" method="get">
              <button class='del'>Delete</button>
              <button class='delyes'>Yes</button>
              <button class='delno'>No</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}
{% block js %}
<script>
$(document).ready(function() {

  $('.delyes').hide();
  $('.delno').hide();
  $('.del').show();

  $(document).on('click','.del', function(ev) {
    ev.preventDefault();
    $(this).hide();
    $(this).siblings('.delyes').show();
    $(this).siblings('.delno').show();
  });

  $(document).on('click', '.delno', function(ev) {
    ev.preventDefault();
    $(this).hide();
    $(this).siblings('.delyes').hide();
    $(this).siblings('.del').show();
  });
});
</script>
{% endblock %}
